/* line 1, ../sass/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_normalize.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 1, ../sass/_normalize.scss */
audio:not([controls]) {
  display: none;
}

/* line 1, ../sass/_normalize.scss */
[hidden] {
  display: none;
}

/* line 1, ../sass/_normalize.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 1, ../sass/_normalize.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
}

/* line 1, ../sass/_normalize.scss */
body {
  margin: 0;
}

/* line 1, ../sass/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 1, ../sass/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 1, ../sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 1, ../sass/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 1, ../sass/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 1, ../sass/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 1, ../sass/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 1, ../sass/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 1, ../sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 1, ../sass/_normalize.scss */
b, strong {
  font-weight: bold;
}

/* line 1, ../sass/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/* line 1, ../sass/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 1, ../sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 1, ../sass/_normalize.scss */
p, pre {
  margin: 1em 0;
}

/* line 1, ../sass/_normalize.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/* line 1, ../sass/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 1, ../sass/_normalize.scss */
q {
  quotes: none;
}

/* line 1, ../sass/_normalize.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 1, ../sass/_normalize.scss */
small {
  font-size: 75%;
}

/* line 1, ../sass/_normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 1, ../sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 1, ../sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 1, ../sass/_normalize.scss */
dl, menu, ol, ul {
  margin: 1em 0;
}

/* line 1, ../sass/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 1, ../sass/_normalize.scss */
menu, ol, ul {
  padding: 0 0 0 40px;
}

/* line 1, ../sass/_normalize.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

/* line 1, ../sass/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 1, ../sass/_normalize.scss */
a img {
  border: 0;
}

/* line 1, ../sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 1, ../sass/_normalize.scss */
figure {
  margin: 0;
}

/* line 1, ../sass/_normalize.scss */
form {
  margin: 0;
}

/* line 1, ../sass/_normalize.scss */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 1, ../sass/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

/* line 1, ../sass/_normalize.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 1, ../sass/_normalize.scss */
button, input {
  line-height: normal;
}

/* line 1, ../sass/_normalize.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 1, ../sass/_normalize.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/* line 1, ../sass/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

/* line 1, ../sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 1, ../sass/_normalize.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 1, ../sass/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 1, ../sass/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 1, ../sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 5, ../sass/style.scss */
body.zoomLayerVisible {
  overflow: hidden;
}

/* line 10, ../sass/style.scss */
#zoomLayer {
  width: 100%;
  height: 100%;
  background: white;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  cursor: pointer;
}
/* line 22, ../sass/style.scss */
body.zoomLayerVisible #zoomLayer {
  display: block;
}
/* line 26, ../sass/style.scss */
/*#zoomLayer img {
  width: 1500px;
  height: auto;
}*/
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 26, ../sass/style.scss */
  #zoomLayer img {
    width: 775px;
  }
}

/* line 35, ../sass/style.scss */
#container {
  margin: 0 auto;
  text-align: center;
}

/* line 40, ../sass/style.scss */
img {
  display: block;
  margin: 0 auto;
}

/* line 46, ../sass/style.scss */
#mainImage img {
  width: 600px;
  height: auto;
  margin-bottom: 10px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 46, ../sass/style.scss */
  #mainImage img {
    width: 300px;
  }
}
/* line 54, ../sass/style.scss */
#mainImage img, #mainImage button {
  cursor: pointer;
}
/* line 57, ../sass/style.scss */
#mainImage button {
  border: 0;
  padding: 5px 20px;
  background: #CCC;
  color: black;
  border: 1px solid #999999;
}
/* line 63, ../sass/style.scss */
#mainImage button:hover {
  background: #666;
  color: white;
  border: 1px solid #666666;
}

#resize{
  position: absolute;
  z-index: 999;
}

#preloader{
  width: 60px;
  height: 60px;
  margin: 0 auto;
  position: relative;
  top: 40%;
  z-index: 999;
  display: none;
}